<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwA2q9MzB9suWXXCuwVDexIDFkBVR97z0</string>
	<key>GCM_SENDER_ID</key>
	<string>740232602057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practica3</string>
	<key>PROJECT_ID</key>
	<string>comp5b-24-70c18</string>
	<key>STORAGE_BUCKET</key>
	<string>comp5b-24-70c18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740232602057:ios:06af0bae02e336340c0818</string>
</dict>
</plist>